<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="home-title">BUILD YOUR BRAND.<br/>
        RULE THE MARKET.</h1>
        <div class="home-wrapper">
            <p>Step into the world of BrandVista, where your marketing savvy and creative flair shape the future of your very own
            brand. From a humble startup to a global powerhouse, you control every decision—from designing logos to launching ad
            campaigns.</p>
            <p>Begin your journey by crafting your brand’s identity in our intuitive drag-and-drop studio. Experiment with logos, color
            palettes, and styles until you find the perfect look. Then, dive into fun and challenging mini-games that put your
            marketing skills to the test.</p>
        </div>
    </div>
</section>
<section class="features-section" id="features">
    <div class="container features-container">
        <h2>Features That Bring Branding to Life</h2>
        <p class="features-text">BrandVista offers a rich set of features designed to immerse you in the world of marketing and brand management:</p>
<div class="swiper features-swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
        <picture>
            <source srcset="
                /img/features/desk-one.png 1x,
                /img/features/desk-one@2x.png 2x
                " media="(min-width: 1440px)" />
            <source srcset="
                /img/features/mob-one.png 1x,
                /img/features/mob-one@2x.png 2x
                " media="(max-width: 1439px)" />
            <img src="/img/features/mob-one.png" alt="game icon" loading="lazy" />
        </picture>  
        <p class="features-slide-title">Creative Studio</p>  
        <p class="features-slide-text">where you design logos and color schemes with ease.</p>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="
                        /img/features/desk-two.png 1x,
                        /img/features/desk-two@2x.png 2x
                        " media="(min-width: 1440px)" />
                <source srcset="
                        /img/features/mob-two.png 1x,
                        /img/features/mob-two@2x.png 2x
                        " media="(max-width: 1439px)" />
                <img src="/img/features/mob-two.png" alt="game icon" loading="lazy" />
            </picture>
            <p class="features-slide-title">Mini-games</p>
            <p class="features-slide-text">like logo puzzles, color-matching challenges, and tagline word games that hone your marketing skills.</p>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="
                        /img/features/desk-three.png 1x,
                        /img/features/desk-three@2x.png 2x
                        " media="(min-width: 1440px)" />
                <source srcset="
                        /img/features/mob-three.png 1x,
                        /img/features/mob-three@2x.png 2x
                        " media="(max-width: 1439px)" />
                <img src="/img/features/mob-three.png" alt="game icon" loading="lazy" />
            </picture>
            <p class="features-slide-title">Budget management</p>
            <p class="features-slide-text">tools that let you allocate resources across digital, print, and social channels to maximize impact.</p>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="
                        /img/features/desk-four.png 1x,
                        /img/features/desk-four@2x.png 2x
                        " media="(min-width: 1440px)" />
                <source srcset="
                        /img/features/mob-four.png 1x,
                        /img/features/mob-four@2x.png 2x
                        " media="(max-width: 1439px)" />
                <img src="/img/features/mob-four.png" alt="game icon" loading="lazy" />
            </picture>
            <p class="features-slide-title">CInfluencrer Deals</p>
            <p class="features-slide-text">Negotiations with influencers to amplify your brand’s reach and credibility.</p>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="
                        /img/features/desk-five.png 1x,
                        /img/features/desk-five@2x.png 2x
                        " media="(min-width: 1440px)" />
                <source srcset="
                        /img/features/mob-five.png 1x,
                        /img/features/mob-five@2x.png 2x
                        " media="(max-width: 1439px)" />
                <img src="/img/features/mob-five.png" alt="game icon" loading="lazy" />
            </picture>
            <p class="features-slide-title">Real Marketing Insights</p>
            <p class="features-slide-text">Unlock real-world marketing insights that teach you the tactics behind successful campaigns.</p>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="
                        /img/features/desk-six.png 1x,
                        /img/features/desk-six@2x.png 2x
                        " media="(min-width: 1440px)" />
                <source srcset="
                        /img/features/mob-six.png 1x,
                        /img/features/mob-six@2x.png 2x
                        " media="(max-width: 1439px)" />
                <img src="/img/features/mob-six.png" alt="game icon" loading="lazy" />
            </picture>
            <p class="features-slide-title">Global Expos</p>
            <p class="features-slide-text">Participate in global expos and compete with other players to climb the leaderboards.</p>
        </div>
    </div>

    <div class="swiper-controls">
        <button class="features-prev">
<img src="/img/features/arrow-prev.png" alt="arrow prev" loading="lazy">
        </button>

        <div class="features-pagination"></div>

        <button class="features-next">
<img src="/img/features/arrow-next.png" alt="arrow next" loading="lazy">
        </button>
    </div>
</div>
<p class="features-text-two">Each feature works together to create a dynamic experience that’s both educational and entertaining.</p>
    </div>
</section>
<section class="gameplay-section" id="gameplay">
    <div class="container">
        <div class="gameplay-wrapper">
            <div class="gameplay-container">
            <h2>Gameplay Overview</h2>
            <div class="gameplay-text-wrapper">
                <p>Your brand’s fate is in your hands. Start by building a brand identity that resonates with your target audience. Use the
                drag-and-drop tools to refine your logo and colors, then launch creative campaigns through interactive mini-games.</p>
                <p>Manage your budget wisely—invest in digital ads, print media, or social promotions based on what will bring the best
                return. Forge partnerships with influencers, negotiate deals, and analyze consumer data to stay ahead of the
                competition.</p>
                <p>As your brand grows, you’ll unlock new challenges and opportunities, including global expos where your strategic
                decisions are put to the test against players worldwide.</p>
            </div>
            </div>
         <picture>
            <source srcset="
                /img/gameplay/desk.png 1x,
                /img/gameplay/desk@2x.png 2x
                " media="(min-width: 1440px)" />
            <source srcset="
                /img/gameplay/mob.png 1x,
                /img/gameplay/mob@2x.png 2x
                " media="(max-width: 1439px)" />
            <img src="/img/gameplay/mob.png" alt="game" loading="lazy" />
        </picture>             
        </div>
    </div>
</section>
<section class="spirit-section" id="spirit">
    <div class="container spirit-container">
        <div class="spirit-wrapper">
            <h2>Leaderboards and Community Spirit</h2>
            <div class="spirit-text-wrapper">
                <p>Climb the ranks by growing your brand’s reach and reputation. Compete in seasonal events and global expos to showcase
                your marketing prowess. The leaderboards provide a transparent view of top players, inspiring friendly competition and
                ongoing improvement.</p>
                <p>BrandVista encourages a community of players who share tips, strategies, and creative ideas. While we don’t connect you
                directly through social media, you’ll find plenty of ways to challenge yourself and learn from the best.</p>
            </div>
        </div>
        <picture>
            <source srcset="
                /img/spirit/desk.png 1x,
                /img/spirit/desk@2x.png 2x
                " media="(min-width: 1440px)" />
            <source srcset="
                /img/spirit/mob.png 1x,
                /img/spirit/mob@2x.png 2x
                " media="(max-width: 1439px)" />
            <img src="/img/spirit/mob.png" alt="game" loading="lazy" />
        </picture>   
    </div>
</section>