<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="home-title">BUILD YOUR BRAND.<br/>
        RULE THE MARKET.</h1>
        <div class="home-wrapper">
            <p>Step into the world of BrandVista, where your marketing savvy and creative flair shape the future of your very own
            brand. From a humble startup to a global powerhouse, you control every decision—from designing logos to launching ad
            campaigns.</p>
            <p>Begin your journey by crafting your brand’s identity in our intuitive drag-and-drop studio. Experiment with logos, color
            palettes, and styles until you find the perfect look. Then, dive into fun and challenging mini-games that put your
            marketing skills to the test.</p>
        </div>
    </div>
</section>