body{
  background: #000728;
  font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
h2{
  font-family: "Orbitron", sans-serif;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: -0.06em;
    text-align: center;
    color: #e2eeff;
    margin-bottom: 10px;
}
@media only screen and (min-width: 1440px) {
  body{
font-size: 18px;
line-height: 1.44444;
  }
}