
.footer-container {
  padding-top: 37px;
  padding-bottom: 37px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  color: #fff;
}

.footer-text {
font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  color: #fff;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    padding-left: 454px;
    padding-right: 454px;
  }

  .footer-navigation {
font-size: 20px;
  }
  .footer-text{
    font-size: 20px;
  }
}